<h1>About</h1>
<br>
<% provide(:title, "About")%>
<div style="margin: 20px; font-size: 1.5rem;">
반갑습니다! 저희는 고려대학교 경영대학 소프트웨어벤처네트워크 NEXT, <a href="https://likelion.net/" target="new">멋쟁이 사자처럼</a> 고려대학교입니다.
<br><br>
비전공자들에게 프로그래밍을 가르쳐 세상을 바꿀 서비스를 만듭니다.
</div>