@import "bootstrap";

.leftDown_toggle {
    color: rgb(213,202,187);
}

.crimsonColor {
    background-color: rgb(120,9,27);
}

.logo {
    font-size:1.5rem;
}
a:hover {
    color: rgb(213,202,187);
}
.content {
    word-break:break-all; padding:20px; border-bottom : 1px solid lightgray; border-top : 1px solid lightgray;
}
.main-container {
    margin: 27px 0px 30px 0px;
}